/* .name-text {
    font-size: 25px;
    margin-left: .5%;
}

.form-name {
    height: 20px;
    font-size: 20px;
    margin-left: .5%;
}

.form-email {
    height: 20px;
    font-size: 20px;
    margin-left: .5%;
} */

/* .text-area {
    height: 300px;
    width: 500px;
    margin-left: .5%;
} */

.btn-primary5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* .btn-primary5:hover {
    color: bisque;
} */


/* span {
    color: rgb(196, 6, 6);
    font-size: 20px;
    margin-left: 5px;
} */