* {
    margin: 0;
    padding: 0;
}

Header {
    background-color: #006ab1;
    text-align: center;
    justify-content: space-between;
    padding: 1.5%;
    color: #bee5ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 1%;
}